body {
    overflow: hidden;
}
.flex {
    display: flex;
    flex-direction: column;
}
.header {
    z-index: 1;
}
h1 {
    font-family: abel;
    color: orange;
    font-size: 120px;
    margin-bottom: 0;
}
.h3 {
    color:rgba(192, 197, 206);
}
h3 {
    font-family: abel;
    font-size: 60px;
    margin-top: 0;
}
.thanks-content {
    z-index: 1;
}
p {
    font-size: 30px;
    font-family: spartan;
    color: rgba(192, 197, 206);
    word-wrap: break-word;
}
h2  {
    width: 50vw;
    color: #e25822;
    font-size: 30px;
    font-family: spartan;
}
.info {
    display: flex;
    justify-content: left;
    align-items: center;
}
.method-of-contact-list {
    display: flex;
    flex-direction: row;
}
hr {
    border: solid;
    border-color: orange;
    width: 50vw;
    margin: 0;
}
/*<------------------------------ Dark Mode Styles ----------------------------->*/
.switchH3 {
    color: #e25822;
}
.switch-theme {
    background-color: rgb(41, 41, 41);
}
@media (max-width: 1100px){
    body {
        overflow: visible;
    }
    .flex {
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .info {
        margin: auto;
    }
    hr {
        margin: auto;
    }
}
@media (max-width: 500px){
    h1 {
        font-size: 80px;
    }
    h3 {
        font-size: 40px;
    }
    p {
        justify-content: center;
        font-size: 20px;
    }
    h2 {
        font-size: 25px;
    }

}
