/*all body, container and headings should be identicle across css*/
body {
    background-image: url("Images/Picsart_21-12-26_15-15-05-597.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: scroll;
}

.switch-theme {
    background-color: rgb(41, 41, 41);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading_top {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 95vw;
    height: 15vh;
    margin-bottom: 10px;
    justify-content: space-evenly;
}
/* Grid, icons and grid lables styling*/

i { /* This also affects the moon dark mode button*/
    color: orange;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 100px;
}
.grid-header {
    display: flex;
    justify-content: center;
    font-family: abel;
    font-size: 50px;
}
.grid {
    display: grid;
    width: 90vw;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50% 50%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    margin: auto;
}
.grid > div {
    overflow: hidden;
    color: black;
    background-color: transparent;
    border-style: solid;
    border-color: rgba(192, 197, 206, .6);
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    transition: .3s;
}
.grid > div:hover {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(192, 197, 206, .6);
    border-color: transparent; 
}

.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: inherit;
    height: inherit;
    background-color: transparent;
    color: transparent;
    text-align: center;
    font-family: spartan;
    font-size: 16px;
    padding: 5px 0;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0%;
    transition: ease-in .3s;
}
.tooltip:hover .tooltiptext {
    visibility: inherit;
    background-color: orange;
    color: whitesmoke;
    
}
.tooltiptext {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: spartan; 
}

h3 {
    font-family: abel;
    color: black;
    font-size: 40px;
    padding-top: none;
}
/* Navigation bar, buttons and smaller icons styling*/
nav {
    display: flex;
    flex-direction: row;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 10vh;
    font-family: "abel";
    font-size: 40px;
    border-style: solid;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    background-color: transparent;
    border-color: orange;
    transition: .2s;
}
button:hover {
    border-color: #e25822;
    color: #e25822;
}

.index, .home, .about, .contact {
    color: rgba(192, 197, 206);
}

a {
    display: flex;
    text-decoration: none;
}

button.home::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f015";
    padding-right: 5px;
    font-size: 40px;
}
button.index::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f100";
    padding-right: 5px;
    font-size: 40px;
}
button.about::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2bb";
    padding-right: 5px;
    font-size: 40px;
}

button.about {
    color: #e25822;
    border-color: #e25822;
}
button.contact::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f653";
    padding-right: 5px;
    font-size: 40px;
}
/* Table styling*/
caption {
    font-family: abel;
    color: black;
    font-size: 50px;
    padding: 30px;
}
table, th, td {
    color: black;
    border: solid orange;
    border-radius: 10px;
}
table {
    border-collapse: collapse;
    width: 75vw;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(192, 197, 206, .6);
    text-align: center;
}
td {
    text-align: center;
    padding: 20px;
    font-family: spartan;
}
th {
    font-size: 20px;
    font-family: abel;
    padding: 20px;
} 
.mainprojects {
    display: flex;
    flex-direction: column;
}
.jobs{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-family: abel;
    font-size: 50px;
    align-items: center;
}
#expand {
    display: flex;
    font-size: 65px;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: auto;
    color: orange;
}
#expand:hover {
    cursor: pointer;
    color: #e25822;
}
hr {
    border: solid;
    color: orange;
    border-width: 1px;
    width: 60%;
    margin-bottom: 0;
}
.headprojects {
    display: flex;
    justify-content: center;
    font-family: abel;
    font-size: 30px; 
}
.paraprojects {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5px;
    font-family: spartan;
    font-size: 16px;
    width: 75vw;
    border-radius: 10px;
    background-color: rgba(192, 197, 206, .6);
}

/* media queries*/
@media screen and (max-width: 500px) {
    .heading_top {
        height: 20vh;
    }
    button {
        font-size: 10px;
    }

    h3 {
        font-size: 20px;
    }

    i {
        font-size: 50px;
    }

    .grid {
        grid-template-columns: 45% 45%;
        grid-template-rows: 35% 35% 35%;
    }

    table {
        font-size: 10px;
    }

    }

@media screen and (max-width: 768px) {
    body {
        background-image: url("Images/Picsart_21-12-26_15-15-05-597.png");
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
}

    .grid {
        grid-template-columns: 45% 45%;
        grid-template-rows: 30% 30% 30%;
    }

    .character {
        height: 95vh;
    }

    button {
        font-size: 20px;
        flex-direction: column;
        height: auto;
        width: 20vw;
    }

    button.home::before {
        font-size: 20px;
    }

    button.index::before {
        font-size: 20px;
    }

    button.about::before {
        font-size: 20px;
    }

    button.contact::before {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    button {
        font-size: 30px;
}
}

@media screen and (max-width: 1100px) {
    body {
        background-image: url("Images/Picsart_21-12-26_15-15-05-597.png");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 1024px) {
    button {
        font-size: 30px;
}
}

@media screen and (min-width: 1253) {

}

@media screen and (min-width: 1440px) {
    button {
        font-size: 40px;
}
}