body {
    background-image: url("Images/hexagon_gray.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.heading_top {
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    background-color: rgba(241, 241, 240, 0.6);
    width: 95vw;
    height: 15vh;
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

i {
    color: rgb(253, 178, 39);
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 100px;
}
.character {
    width: 95vw;
    height: 60vh;
    border-style: solid;
    border-color: rgb(253, 178, 39);
    border-radius: 10px;
    background-color: rgba(241, 241, 240, 0.6);
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
} 
.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50% 50%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    padding-top: 1.3vh;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.grid > div {
    
    overflow: hidden;
    color: black;
    background-color: transparent;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    transition: .3s;
}
.grid > div:hover {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(56, 55, 53, 0.6); 
}
h3 {
    font-family: abel;
    color: black;
    font-size: 40px;
    padding-top: none;
}

nav {
    display: flex;
    flex-direction: row;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 10vh;
    color: gray;
    font-family: "abel";
    font-size: 40px;
    border-style: solid;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    background-color: transparent;
    border-color: orange;
    transition: .2s;
}
button:hover {
    border-color: orangered;
    color: orangered;
}

a {
    display: flex;
    text-decoration: none;
}

button.home::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f6a7";
    padding-right: 5px;
    font-size: 40px;
}
button.index::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f100";
    padding-right: 5px;
    font-size: 40px;
}
button.about::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2bb";
    padding-right: 5px;
    font-size: 40px;
}

button.about {
    color: orangered;
    border-color: orangered;
}
button.contact::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f653";
    padding-right: 5px;
    font-size: 40px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: inherit;
    height: inherit;
    background-color: transparent;
    color: transparent;
    text-align: center;
    font-family: spartan;
    font-size: 16px;
    padding: 5px 0;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0%;
    transition: ease-in .3s;
}
.tooltip:hover .tooltiptext {
    visibility: inherit;
    background-color: rgba(255, 166, 0, 0.6);
    color: black;
    
}
.tooltiptext {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: spartan; 
}
caption {
    font-family: abel;
    color: black;
    font-size: 50px;
    padding: 30px;
}
table, th, td {
    color: black;
    border: solid orange;
    border-radius: 10px;
}
table {
    border-collapse: collapse;
    width: 75vw;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(241, 241, 240, 0.6);
    text-align: center;
}
td {
    text-align: center;
    padding: 20px;
    font-family: spartan;
}
th {
    font-size: 20px;
    font-family: abel;
    padding: 20px;
}  