/*Copy and pasted from the about.css page for the navigation bar and background*/
body {
    background-image: url("Images/Picsart_21-12-26_15-15-05-597.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: scroll;
}

.switch-theme {
    background-color: rgb(41, 41, 41);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.heading_top {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 95vw;
    height: 15vh;
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

nav {
    display: flex;
    flex-direction: row;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 10vh;
    color: #e25822;
    font-family: "abel";
    font-size: 40px;
    border-style: solid;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    background-color: transparent;
    border-color: orange;
    transition: .2s;
}

button:hover {
    border-color: #e25822;
    color: #e25822;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 10vh;
    color: rgba(192, 197, 206);
    font-family: "abel";
    font-size: 40px;
    border-style: solid;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    background-color: transparent;
    border-color: orange;
    transition: .2s;
}

a {
    display: flex;
    text-decoration: none;
}

button.submit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 10vh;
    color: #e25822;
    font-family: "abel";
    font-size: 40px;
    border-style: solid;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    background-color: transparent;
    border-color: orange;
    transition: .2s;
}

button.home::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f015";
    padding-right: 5px;
    font-size: 40px;
}
button.index::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f100";
    padding-right: 5px;
    font-size: 40px;
}
button.about::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2bb";
    padding-right: 5px;
    font-size: 40px;
}

button.contact {
    color: #e25822;
    border-color: #e25822;
}
button.contact::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f653";
    padding-right: 5px;
    font-size: 40px;
}

/*Until here from the body styling copy and pasted from about.css for consistency*/

/*Form styling*/
h1 {
    font-family: abel;
    color: orange;
    font-size: 50px;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(192, 197, 206, .6);
}

label {
    font-family: spartan;
    font-size: 20px;
    padding: 5px;
}

p {
    font-family: spartan;
    font-size: 20px;
    border: solid;
    border-color: orange;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}

.label-side {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


table, th, td {
    color: rgba(192, 197, 206);
    padding: 10px;
    width: 75vw;
}
table {
    border-collapse: collapse;
    margin: auto;
}
td {
    text-align: center;
    padding: 50px;
    font-family: spartan;
}
th {
    font-size: 20px;
    font-family: abel;
    padding: 20px;
}
td, th {
    border-bottom: 2px solid orange;
}


/*Media queries copied from the about.css page*/

@media screen and (max-width: 500px) {
    .heading_top {
        height: 20vh;
    }

    }

@media screen and (max-width: 768px) {
    body {
        background-image: url("Images/Picsart_21-12-26_15-15-05-597.png");
        background-size: contain;
        background-attachment: fixed;
        background-repeat: no-repeat;
}

    button.submit {
        font-size: 20px;
        flex-direction: column;
        height: auto;
        width: 20vw;
    }

    button.home::before {
        font-size: 20px;
    }

    button.index::before {
        font-size: 20px;
    }

    button.about::before {
        font-size: 20px;
    }

    button.contact::before {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    button.submit {
        font-size: 30px;
}
}

@media screen and (max-width: 1100px) {
    body {
        background-image: url("Images/Picsart_21-12-26_15-15-05-597.png");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 1024px) {
    button.submit {
        font-size: 30px;
}
}

@media screen and (min-width: 1253) {

}

@media screen and (min-width: 1440px) {
    button.submit {
        font-size: 40px;
}
}