body {
    background-image: url("Images/Picsart_21-12-26_15-15-05-597.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: scroll;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.switch-theme {
    background-color: rgb(41, 41, 41);
}

.switchH3 {
    color: #e25822;
}

.switch-menu-button {
    color: whitesmoke;
}

.switch-text {
    color: whitesmoke;
}


.heading_top {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 95vw;
    height: 15vh;
    margin: auto;
    margin-bottom: 10px;
    justify-content: space-evenly;
}

.heading_main {
    display: flex;
    flex-direction: column;
    font-family: spartan;
    font-size: 20px;
    line-height: 2;
    border-radius: 10px;
    background-color: rgba(192, 197, 206, .6);
    width: 95vw;
    height: auto;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: abel;
    color: black;
    font-size: 40px;
    padding-top: none;
    animation-name: fade;
    animation-duration: 2.5s;
}

.main-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: spartan;
    font-size: 20px;
    line-height: 2;
    border-radius: 10px;
    background-color: rgba(192, 197, 206, .6);
    width: 95vw;
}

.row-of-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.column-of-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-skills {
    display: flex;
    word-wrap: break-word;
    width: 25vw;
    text-align: center;
}

h2 {
    display: flex;
}

.main-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: spartan;
    font-size: 20px;
    background-color: rgba(192, 197, 206, .6);
    border-radius: 10px;
    margin-top: 10px;
    width: 95vw;
    padding-bottom: 25px;
}

iframe {
    height: 80vh;
    width: 90vw;
    border-radius: 10px;
    border: none;
}

/* navigation bar, paragraph, buttons and small icons styling*/

nav {
    display: flex;
    flex-direction: row;
    }

button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 10vh;
    color: rgba(192, 197, 206, .6);
    font-family: "abel";
    font-size: 40px;
    border-style: solid;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    background-color: transparent;
    border-color: orange;
    transition: 0.2s;
}

button:hover {
    border-color: #e25822;
    color: #e25822;
    cursor: pointer;
    }

a {
    display: flex;
    text-decoration: none;
    }

p {
    text-align: left;
}

.click_me {
    color: #e25822;
    display: inline;
}

.click_me:hover {
    color: orange;
}

button.home::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f015";
    padding-right: 5px;
    font-size: 40px;
}

button.index::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f100";
    padding-right: 5px;
    font-size: 40px;
}

button.about::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2bb";
    padding-right: 5px;
    font-size: 40px;
}

button.home {
    color: #e25822;
    border-color: #e25822;
}

button.contact::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f653";
    padding-right: 5px;
    font-size: 40px;
}

/* media queries*/

@media screen and (max-width: 500px) {
    .heading_top {
        height: 20vh;
    }

    .heading_main {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("Images/Picsart_21-12-26_15-15-05-597.png");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .heading_main {
        font-size: 16px;
    }

    .character {
        height: 95vh;
    }

    button {
        font-size: 20px;
        flex-direction: column;
        height: auto;
        width: 20vw;
    }

    button.home::before {
        font-size: 20px;
    }

    button.index::before {
        font-size: 20px;
    }

    button.about::before {
        font-size: 20px;
    }

    button.contact::before {
        font-size: 20px;
    }
}

    @media screen and (min-width: 768px) {
    button {
        font-size: 30px;
    }
}

    @media screen and (max-width: 1100px) {
    body {
        background-image: url("Images/Picsart_21-12-26_15-15-05-597.png");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}
    @media screen and (min-width: 1024px) {
    button {
        font-size: 30px;
    }
}

    @media screen and (min-width: 1253) {
}

    @media screen and (min-width: 1440px) {
    button {
        font-size: 40px;
    }
}
