body {
    background-image: url("Images/hexagon_gray.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}
.heading_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: rgb(253, 178, 39);
    border-radius: 10px;
    background-color: rgba(241, 241, 240, 0.6);
    width: 95vw;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.heading_main {
    text-align: center;
    padding: 10px;
    font-family: spartan;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(241, 241, 240, 0.6);
    border-color: rgb(253, 178, 39);
    width: 95vw;
    height: 50vh;
}
h1 {
    color: gray;
    font-family: abel;
    margin: 0;
}

h3 {
    font-family: abel;
    color: black;
    font-size: 40px;
    padding-top: none;
    padding-bottom: 50px;
}

nav {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10vw;
    height: 5vh;
    margin-left: 5px;
    margin-right: 5px;
    color: gray;
    font-family: "abel";
    font-size: 30px;
    border-style: solid;
    border-radius: 5px;
    background-color: transparent;
    border-color: orange;
    transition: .2s;
}

button:hover {
    color: orangered;
    border-color: orangered;
}

button.home::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f6a7";
    padding-right: 5px;
    font-size: 30px;
}

button.home {
    border-color: orangered;
    color: orangered
}

button.index::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
    padding-right: 5px;
    font-size: 30px;
}

button.about::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2bb";
    padding-right: 5px;
    font-size: 30px;
}

button.contact::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f653";
    padding-right: 5px;
    font-size: 30px;
}