body {
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}

.hexagon {
    position: relative;
    background-image: url("Images/hexagon.png");
    background-size: cover;
    float: right;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

img {
    position: relative;
    left: 250px;
    width: auto;
    height: 110vh;
    filter: drop-shadow(8px 8px 10px red);
}

.title {
    display: flex;
    position: relative;
    flex-direction: column;
    word-wrap: break-word;
    text-align: left;
    width: 50%;
    z-index: 1;
}

h1 {
    display: flex;
    white-space: nowrap;
    font-family: abel;
    font-size: 120px;
    color: orange;
    margin: 10px;
}

h3 {
    display: flex;
    font-family: abel;
    font-size: 60px;
    color: gray;
    width: auto;
    word-wrap: break-word;
    margin: 10px;
}

.flexbox-button {
    flex-direction: row;

}

button {
    background-color: rgba(241, 241, 240, 0.6);
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    font-family: abel;
    font-size: 30px;
    color: gray;
    width: 300px;
    height: 100px;
    margin: 20px;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

button:hover {
    border-color: orange;
    color: black;
}

@media screen and (max-width: 320px){
    body {
        overflow: scroll;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .title {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 60px;
        white-space: normal;
    }

    h3 {
        font-size: 40px;
    }

    .hexagon {
        position: relative;
        left: 30px;
        width: 100vw;
        height: auto;
        justify-content: center;
        align-items: stretch;
    }

    img {
        position: relative;
        left: 20px;
        width: 100vw;
        height: auto;
        
    }
    
    button {
        width: 100%;
        height: auto;
        padding: 5px;
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    }

@media screen and (max-width: 481px) {
    body {
        overflow: scroll;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .title {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 60px;
        white-space: normal;
    }

    h3 {
        font-size: 40px;
    }

    .hexagon {
        position: relative;
        left: 30px;
        width: 100vw;
        height: auto;
        justify-content: center;
        align-items: stretch;
    }

    img {
        position: relative;
        left: 20px;
        width: 100vw;
        height: auto;
        
    }
    
    button {
        width: 100%;
        height: auto;
        padding: 5px;
        margin: 5px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
}
