body {
    background-image: url("Images/hexagon.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top;
    margin: 0;
    overflow: hidden;
}

img {
    position: absolute;
    top: 30px;
    right: 0;
    width: auto;
    height: 100vh;
    float: right;
}

.flex-button {
    display: flex;
    width: auto;
    text-align: center;
    flex-direction: column;
}

button {
    background-color: rgba(241, 241, 240, 0.6);
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    font-family: abel;
    font-size: 30px;
    color: gray;
    width: 300px;
    height: 100px;
    margin: 20px;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

button:hover {
    border-color: orange;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: black;
}

.title {
    display: flex;
    flex-direction: column;
    margin: 15px;
}
h1 {
    display: flex;
    font-family: abel;
    font-size: 120px;
    color: orange;
    margin: 0;
}

h3 {
    display: flex;
    font-family: abel;
    font-size: 60px;
    color: gray;
    width: 65vw;
    word-wrap: break-word;
    margin: 0;
}
