body {
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.title {
    position: relative;
    word-wrap: break-word;
    text-align: left;
    width: 50%;
    margin-left: 15px;
}

h1 {
    white-space: nowrap;
    font-family: abel;
    font-size: 120px;
    color: orange;
    margin-bottom: 0px;
}

h3 {
    display: flex;
    font-family: abel;
    font-size: 60px;
    color: gray;
    margin-top: 0px;
}

.flexbox-button {
    display: flex;
    flex-direction: row;

}

button {
    background-color: rgba(241, 241, 240, 0.6);
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
    font-family: abel;
    font-size: 30px;
    color: gray;
    width: 300px;
    height: 100px;
    margin: 10px;
    margin-left: 0;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

button:hover {
    border-color: #ff5900;
    color: #ff5900;
}

.pics {
    display: flex;
    justify-content: right;
}

img {
    width: auto;
    height: 100vh;
    justify-content: right;
    transition-duration: .5s;
}

img:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 320px){
    body {
        overflow: scroll;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

    .title {
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 75vw;
        height: auto;
        margin: auto;
    }

    h1 {
        font-size: 60px;
        white-space: normal;
    }

    h3 {
        font-size: 40px;
    }
    
    .flexbox-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    button {
        width: 50vw;
        height: auto;
        padding: 5px;
        font-size: 20px;
        margin: auto;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .pics {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
    }
    img {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100vw;
        height: auto;
    }
    }

@media screen and (min-width: 1280px) {
    body {
        overflow: hidden;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
    }

    .title {
        text-align: left;
        justify-content: left;
        align-items: left;
        margin-left: 0;
        width: 50vw;
        height: 100%;
    }

    h1 {
        font-size: 100px;
        white-space: normal;
        margin-left: 10px;
        margin-bottom: 0px;
    }

    h3 {
        font-size: 40px;
        margin-top: 0px;
        margin-left: 10px;
    }
    
    .flexbox-button {
        display: flex;
        flex-direction: column;

    }

    button {
        width: 300px;
        height: auto;
        font-size: 20px;
        padding: 10px;
        margin: 10px;
    }
    .pics {
        display: flex;
        justify-content: right;
        align-items: right;
    }
    img {
        float: right;
    }
}
